{{!-- About page --}}
<div class="container">
<div class="row">
    <div class="col-2"></div>
<div class="col-8 m-5 px-5 text-white"> 
    <h1>About Little League Commissioner</h1>
    <p class="m-3">"A program designed to assist youth sports organizations manage their leagues."</p>
</div>
<div class="col-2"></div>
</div>
</div>


