<!--Modify the about page here, doesn't need a router or functions, content from here will be placed in main {{{body}}}-->
<h1>About</h1>

<p>We can write this directly in the html of the about handlebars page.</p>

