<h1>Little League Commissioner</h1>

<ul>
    <li><a href="/team">Team</a></li>
    <li><a href="/league">League</a></li>
</ul>


<!--
<form method="post" action="/ballot">
    
    <label for"district">Chose a District:</label>
    <select id="district" name="district">
        <option value="1">District 1</option>
        <option value="2">District 2</option>
        <option value="3">District 3</option>
        <option value="4">District 4</option>
        <option value="5">District 5</option>
        <option value="6">District 6</option>
    </select>
    
    <label for="voterId">Enter Your Voter ID:</label>
    <input type="text" id="" name="voterId"><br><br>
    
    <input type="submit" value="Submit">
    
    <h2>{{message}}</h2>
    
    
</form>
-->
