<h1>Little League Commissioner</h1>


  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/league">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/league">League</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<!--
<form method="post" action="/ballot">
    
    <label for"district">Chose a District:</label>
    <select id="district" name="district">
        <option value="1">District 1</option>
        <option value="2">District 2</option>
        <option value="3">District 3</option>
        <option value="4">District 4</option>
        <option value="5">District 5</option>
        <option value="6">District 6</option>
    </select>
    
    <label for="voterId">Enter Your Voter ID:</label>
    <input type="text" id="" name="voterId"><br><br>
    
    <input type="submit" value="Submit">
    
    <h2>{{message}}</h2>
    
    
</form>
-->
