<!--home page specific content-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Announcements</h1>
    <p class="lead">Here is where you will find announcements from games, teams, and more!</p>
  </div>
</div>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">5-22 Game</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Argos won against the Bears, 12-6</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Coaches Needed</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">A new team has opened up, and needs a coach. Check out the team details for more information.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Kids Day</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Kids day will be on June 2, 20XX. A list of stuff that is needed will be listed here.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Field Reminders</h5>
      <small class="text-muted">5 days ago</small>
    </div>
    <p class="mb-1">Friendly reminder to coaches that the fields are first come, first serve. Take a look at the field scheduler here:</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  