<!--league page specific content, notice the placeholder message,
    this comes from leagueController.js line 5, you define the variable
        in the controller file, then put the variable here inside ,
         notice there are only 2 sets of curly braces (handlebar mustaches, i.e handlebars).-->


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">League:{{name}} </h5>
        <p class="card-text"> Director: {{director}}</p>

        <a href="/home/team" class="btn btn-primary">View Teams</a></a>
      </div>
    </div>
  </div>
  </div>
