<div class="container m-5 px-5 ">
<form class="mx-5 p-5 rounded " method="post" action="/account" id="signupform"> 
 {{!--row 1  --}}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" required>
      </div>
      <div class="form-group col-md-6">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" required>
      </div>
    </div>
  {{!-- row 2 --}}
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Street address" name="address">
    </div>
  {{!-- row 3 --}}
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" name="city">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <input type="text" class="form-control" id="inputState" name="state">
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip" name="zip">
      </div>
    </div>
{{!-- row 4 --}}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Parent Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email" required>
      </div>
      <div class="form-group col-md-6">
        <label for="phoneNum">Phone Number</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Parent Username</label>
        <input type="text" class="form-control" id="inputEmail4" name="username" placeholder="Username" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Parent Password</label>
        <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password" required>
      </div>
    </div>
    <div class="form-row ">
      <button type="submit" class="btn btn-primary mx-auto">Sign Up</button>
    </div>
  </form>
</div>