<!--team page specific content, notice the placeholder message,
    this comes from teamController.js line 5, you define the variable
        in the controller file, then put the variable here inside ,
         notice there are only 2 sets of curly braces (handlebar mustaches, i.e handlebars).-->

<h1>{{message}}</h1>