body{
    background-image: url("/img/blackwhitebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#title {
    font-size: 50px;
    color: lightslategray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#cardbg{
    opacity: .2;
}

#signin{
    font-size: 45px;
    color: black;
}

#signupform{
    background-color: grey;
}

#weatherinfo{
    color: lightslategray;
}



